version: '"'"'3.8'"'"'

services:
  sqlserver:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cfl-sqlserver-dev
    ports:
      - "${MSSQL_PORT:-1433}:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
    volumes:
      - ./mssql-data:/var/opt/mssql
      - ./database:/var/opt/mssql/seed

